@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', serif;
    line-height: 1.13;
}

body{
    background-color: bisque;
    height: 100vh;
    display: flex;
}

input{
    border: none;
    outline: none;
}

input[type="checkbox"] {
    /* Зміна розміру */
    width: 16px;
    height: 16px;
    cursor: pointer;
    vertical-align: middle;
}

input[type="checkbox"]:hover{
    transform: scale(1.1);
}

.weekly-plan{
    background-color: white;
    color: #3e3e3e;
    width: 75%;
    height: 95%;
    margin: auto;
    display: grid;
    border: 6px solid #9c9c9c;
    border-bottom: 20px solid #686868;
    grid-template-columns: 27% 73%;
    grid-template-rows: auto 1fr;
}

.header{
    /*height: 70%;*/
    /*border-bottom: 2px solid #9c9c9c;*/
    display: grid;
    grid-column: 1 / span 2;
    grid-template-columns: 1fr 1fr 1.1fr auto;
    align-items: end;
    column-gap: 0;
    padding: 10px;
    font-weight: bold;
}

.header input{
    border-bottom: 1px solid #9c9c9c;
    padding-top: 2px;
    font-size: 18px;

}

.header-title{
    font-size: 3rem;
    padding-right: 30px;
    white-space: nowrap;
}

.criteria-title{
    display: flex;
    align-items: center;
    gap: 5px;
}

.criterias{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 10px;
    font-size: 16px;
    gap: 5px;
    /*border: 1px solid black;*/
}

.goals-columns{
    border-right: 2px solid #9c9c9c;
    border-top: 2px solid #9c9c9c;
}

.section-title{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: bold;
    align-items: flex-end;
    padding: 5px 10px;
}

.goals{
    display: grid;
    padding-left: 10px;
    row-gap: 10px;
}

.goal-title{
    font-size: 16px;
    font-weight: bold;
}

.list-item input{
    border-bottom: 1px solid #9c9c9c;
    font-size: 14px;
}

.week-tasks{
    display: grid;
    /*height: 90%;*/
    /*width: 65%;*/
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /*gap: 0;*/
}
.day-tasks{
    display: flex;
    border: 2px solid #9c9c9c;
    flex-direction: column;
}

.weekend-box{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.day-title{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    align-items: center;
    padding: 5px;
}

.header-day{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-day input{
    position: absolute;
    right: 6.5%;
}

.day-content{
    display: flex;
    flex-grow: 1;
    padding: 5px;
}

.day-content textarea{
    font-size: 16px;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    resize: none;
}