body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2c3e50;
    font-family: sans-serif;
}


.scene {
    position: relative;
    width: 1200px;
    height: 500px;
    background-color: #87CEEB;
    border: 8px solid #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}


.sky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: skyChange 10s infinite alternate;
}

@keyframes skyChange {
    0% { background-color: #87CEEB; }
    100% { background-color: #FF7F50; }
}


.cloud {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 50px;
    z-index: 1;
}

.cloud-1 {
    width: 100px;
    height: 40px;
    top: 50px;
    left: 100%;
    animation: moveClouds 8s linear infinite;
}

.cloud-2 {
    width: 140px;
    height: 60px;
    top: 100px;
    left: 100%;
    opacity: 0.7;
    animation: moveClouds 6s linear infinite;
    animation-delay: 1s;
}

.cloud-3 {
    width: 80px;
    height: 30px;
    top: 30px;
    left: 100%;
    opacity: 0.8;
    animation: moveClouds 10s linear infinite;
    animation-delay: 3s;
}

@keyframes moveClouds {
    from { left: 100%; }
    to { left: -150px; }
}


.ground {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #4CAF50;
    border-top: 5px solid #388E3C;
    z-index: 2;
}


.pokemon {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    width: 110px;
    height: 150px;

    background-image: url('runner.png');

    background-repeat: no-repeat;

    background-position: 0px 0px;

    animation: run 0.8s steps(8) infinite;
}

@keyframes run {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: -840px 0px;
    }
}

.controls {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}

button {
    padding: 8px 16px;
    background: white;
    border: 2px solid #333;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

button:hover {
    background: #f0f0f0;
}